/*Variables*/
/*mixins*/
/*Fonts imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/*SCSS imports*/
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
  padding: 2vw 11vw 0px 0px;
  position: absolute;
  top: 0;
}

.nav-bar ul {
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8vw;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.nav-bar ul a {
  color: white;
}

.nav-bar .nav-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #515E63;
  color: #515E63;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
}

.hero {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("/assets/images/flayence.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: contain;
}

.hero .hero-background {
  height: 100%;
  width: 70vw;
  background-color: #515E63;
  z-index: 0;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 20%;
}

.hero .hero-content .hero-img {
  height: 30vw;
}

.hero .hero-content .logo-large {
  width: 60%;
}

.hero .hero-content .content-text {
  width: 75%;
  line-height: 2;
  color: #FFFFFF;
  margin-top: 1vw;
  font-size: 0.80vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
}

.hero .hero-content .hero-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #FFFFFF;
  color: #FFFFFF;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
  margin-top: 1vw;
}

.col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col-container .wf_img {
  width: 5vw;
}

.col-container .wf_content {
  margin: 0.20vw 1.5vw;
}

.col-container .wf_content .wfhead {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: #011E56;
  letter-spacing: 0.05vw;
}

.col-container .wf_content .wftext {
  margin-top: 0.5vw;
  font-weight: 300;
  font-family: Poppins;
  color: #011E56;
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.why_flayence {
  padding: 4vw;
}

.why_flayence h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011E56;
  text-align: center;
  margin-bottom: 2vw;
}

.packages {
  height: 28vw;
  width: 18vw;
  padding: 2vw;
  color: #011E56;
  background-color: #F3F8FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
          box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
}

.packages .pkg-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: #011E56;
  letter-spacing: 0.05vw;
}

.packages .pkg-contents-container {
  font-weight: 300;
  font-family: Poppins;
  color: #011E56;
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.packages .pkg-contents-container .tick {
  width: 1.2vw;
}

.packages .pkg-ico {
  width: 7vw;
  margin: 1vw;
}

.packages .price .rs {
  font-size: 0.85vw;
}

.packages .price .amt {
  font-size: 1.2vw;
}

.packages .max-width-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #011E56;
  color: #011E56;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: #011E56;
  margin-top: 1vw;
  width: 100%;
}

.active-pkg {
  background-color: #515E63;
  color: #FFFFFF;
  height: 30vw;
  -webkit-transform: translateY(-1vw);
          transform: translateY(-1vw);
  -webkit-box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
          box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
}

.active-pkg .pkg-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: #FFFFFF;
  letter-spacing: 0.05vw;
}

.active-pkg .pkg-contents-container {
  font-weight: 300;
  font-family: Poppins;
  color: #FFFFFF;
  font-size: 0.9vw;
  line-height: 1.5vw;
}

.active-pkg .max-width-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #FFFFFF;
  color: #FFFFFF;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: #FFFFFF;
  margin-top: 1vw;
  width: 100%;
}

.active-pkg .pkg-ico {
  width: 8.4vw;
  margin: 1vw;
}

.active-pkg .price .rs {
  font-size: 0.9vw;
}

.active-pkg .price .amt {
  font-size: 1.4vw;
}

.pkg-section-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011E56;
}

.section-description {
  line-height: 2;
  color: #011E56;
  margin-top: 1vw;
  font-size: 0.8vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
}

.pkg-know-more-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #011E56;
  color: #011E56;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: #011E56;
}

.about_us {
  background-color: #e6edfa;
  width: 100vw;
}

.about_us .ab_img {
  height: 100%;
  width: 100%;
}

.about_us .right-section {
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_us h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011E56;
  margin-bottom: 1vw;
}

.about_us .txtab {
  font-weight: 300;
  font-family: Poppins;
  color: #011E56;
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.about_us .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_us .social-icons img {
  width: 2.5vw;
}

.testimonial-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.testimonial-section .testimonial-content-container {
  margin-top: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-section .left-section {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2vw;
}

.testimonial-section .left-section .small-circular-avatar {
  margin-left: 8vw;
  margin-top: 3vw;
}

.testimonial-section .left-section .large-circular-avatar {
  margin-bottom: 3vw;
  margin-left: 2vw;
}

.testimonial-section .active-section {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw;
}

.testimonial-section .active-section .comment {
  width: 80%;
  line-height: 2;
  color: #011E56;
  margin-top: 1vw;
  font-size: 0.8vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
  text-align: center;
}

.testimonial-section .active-section h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: #011E56;
  letter-spacing: 0.05vw;
  font-weight: bold;
}

.testimonial-section .active-section h6 {
  font-weight: 300;
  font-family: Poppins;
  color: #011E56;
  font-size: 0.8vw;
  line-height: 1.5vw;
  font-weight: 400;
}

.testimonial-section .right-section {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.testimonial-section .right-section .small-circular-avatar {
  margin-right: 5vw;
  margin-bottom: 3vw;
}

.testimonial-section .right-section .medium-circular-avatar {
  margin-top: 5vw;
}

.active-circular-avatar {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  -webkit-box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
          box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
  margin-bottom: 2vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.small-circular-avatar {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
          box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
  -webkit-animation: MoveUpDown 4s linear infinite;
          animation: MoveUpDown 4s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  cursor: pointer;
}

.medium-circular-avatar {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
          box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
  -webkit-animation: MoveUpDown 4s linear infinite;
          animation: MoveUpDown 4s linear infinite;
  cursor: pointer;
}

.large-circular-avatar {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
          box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
  -webkit-animation: MoveUpDown 4s linear infinite;
          animation: MoveUpDown 4s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  cursor: pointer;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.section-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011E56;
}
/*# sourceMappingURL=style.css.map */