@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
  padding: 2vw 11vw 0px 0px;
  position: absolute;
  top: 0;
}

.nav-bar ul {
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8vw;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.nav-bar ul a {
  color: white;
}

.nav-bar .nav-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #515E63;
  color: #515E63;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
}

.hero {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("/assets/images/flayence.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: contain;
}

.hero .hero-background {
  height: 100%;
  width: 70vw;
  background-color: #515E63;
  z-index: 0;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 20%;
}

.hero .hero-content .hero-img {
  height: 30vw;
}

.hero .hero-content .logo-large {
  width: 60%;
}

.hero .hero-content .content-text {
  width: 75%;
  line-height: 2;
  color: #FFFFFF;
  margin-top: 1vw;
  font-size: 0.80vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
}

.hero .hero-content .hero-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #FFFFFF;
  color: #FFFFFF;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
  margin-top: 1vw;
}

.col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col-container .wf_img {
  width: 5vw;
}

.col-container .wf_content {
  margin: 0.20vw 1.5vw;
}

.col-container .wf_content .wfhead {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  color: #011E56;
  letter-spacing: 0.05vw;
}

.col-container .wf_content .wftext {
  margin-top: 0.5vw;
  font-weight: 300;
  color: #011E56;
  font-size: 0.80vw;
}

.why_flayence {
  padding: 4vw;
}

.why_flayence h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011E56;
  text-align: center;
  margin-bottom: 2vw;
}

.packages {
  height: 28vw;
  width: 22vw;
  padding: 1vw;
  background-color: #F3F8FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.packages .pkg-heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  color: #011E56;
  letter-spacing: 0.05vw;
}

.packages .pkg-contents-container {
  font-weight: 300;
  color: #011E56;
  font-size: 0.80vw;
}

.active-pkg {
  background-color: #515E63;
  color: #FFFFFF;
  height: 32vw;
  -webkit-transform: translateY(-2vw);
          transform: translateY(-2vw);
}

.active-pkg .pkg-heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  color: #FFFFFF;
  letter-spacing: 0.05vw;
}

.active-pkg .pkg-contents-container {
  font-weight: 300;
  color: #FFFFFF;
  font-size: 0.80vw;
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */