/*Variables*/
/*mixins*/
/*Fonts imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/*SCSS imports*/
.nav-bar {
  width: 100%;
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: fixed;
  padding: 0 12vw;
  top: 0;
  z-index: 1;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.nav-bar .nav-logo {
  display: none;
  width: 2vw;
}

.nav-bar .nav-links {
  width: 45vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9vw;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-links a {
  color: white;
}

.nav-bar .nav-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #515e63;
  color: #515e63;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.9vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-bar .nav-btn:hover {
  background-color: #515e63;
  color: #ffffff;
}

.nav-bar .burger {
  display: none;
}

.nav-bar .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/*for scroll animation*/
.nav-scroll-active {
  background-color: rgba(81, 94, 99, 0.9);
}

.nav-btn-active {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #ffffff !important;
  color: #ffffff !important;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.9vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-btn-active:hover {
  background-color: #ffffff !important;
  color: #515e63 !important;
}

/*for scroll animation end*/
@media screen and (max-width: 480px) {
  .nav-bar {
    height: 15vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
    position: fixed;
  }
  .nav-bar .nav-logo {
    display: block;
    width: 5vw;
  }
  .nav-bar .burger {
    display: block;
    z-index: 1;
  }
  .nav-bar .nav-links {
    height: 100%;
    width: 100%;
    padding: 30% 0;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .nav-bar .nav-links a {
    color: white !important;
    font-size: 3.3vw;
  }
  .nav-bar .nav-links .nav-btn {
    padding: 0.75vw 1.75vw;
    border: solid 0.2vw #ffffff;
    color: #ffffff;
    font-weight: 500;
    background-color: transparent;
    border-radius: 3px;
    font-size: 3vw;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 2vw 3vw;
  }
  .nav-bar .nav-links .nav-btn:hover {
    background-color: #ffffff;
    color: #515e63;
  }
  .nav-active {
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
            transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-7px, -6px);
            transform: rotate(45deg) translate(-7px, -6px);
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("../../assets/images/flayence.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: contain;
}

.hero .hero-background {
  height: 100%;
  width: 70vw;
  background-color: #515e63;
  z-index: 0;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .hero-content-container {
  padding-top: 2vw;
  width: 40vw;
}

.hero .hero-content .hero-content-container .logo-large {
  width: 60%;
}

.hero .hero-content .hero-content-container .content-text {
  width: 75%;
  line-height: 2;
  color: #ffffff;
  margin-top: 1vw;
  font-size: 0.8vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
}

.hero .hero-content .hero-content-container .hero-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #ffffff;
  color: #ffffff;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 1vw;
}

.hero .hero-content .hero-content-container .hero-btn:hover {
  background-color: #ffffff;
  color: #515e63;
}

.hero .hero-content .hero-img-container {
  width: 35vw;
}

.hero .hero-content .hero-img-container .hero-img {
  width: 100%;
  height: 30vw;
  border: 0.5vw solid #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
          box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
}

.hero .arrow {
  display: none;
}

@media only screen and (max-width: 480px) {
  .hero {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("../../assets/images/header-img.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
  }
  .hero .hero-background {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  .hero .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero-content .hero-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 12vw;
    margin-top: 10vw;
    width: 100%;
  }
  .hero .hero-content .hero-content-container .logo-large {
    width: 90%;
  }
  .hero .hero-content .hero-content-container .content-text {
    width: 100%;
    line-height: 2;
    color: #ffffff;
    margin-top: 3vw;
    font-size: 3.3vw;
    font-weight: 300;
    letter-spacing: 0.05vw;
  }
  .hero .hero-content .hero-content-container .hero-btn {
    padding: 2vw 3vw;
    border: solid 0.5vw #ffffff;
    color: #ffffff;
    font-weight: 500;
    background-color: transparent;
    border-radius: 2px;
    font-size: 3.3vw;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 3vw;
  }
  .hero .hero-content .hero-content-container .hero-btn:hover {
    background-color: #ffffff;
    color: #515e63;
  }
  .hero .hero-content .hero-img-container {
    display: none;
  }
  .hero .down-arrow-container {
    margin-top: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .down-arrow-container .arrow {
    display: block;
    width: 10vw;
    -webkit-animation: arrow-movement 2s ease-in-out infinite;
            animation: arrow-movement 2s ease-in-out infinite;
  }
  @-webkit-keyframes arrow-movement {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes arrow-movement {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      opacity: 0;
    }
  }
}

.row-container {
  padding: 2vw;
}

.col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col-container .wf_img {
  width: 5vw;
}

.col-container .wf_content {
  margin: 0.20vw 1.5vw;
  text-align: left;
}

.col-container .wf_content .wfhead {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: #011e56;
  letter-spacing: 0.05vw;
}

.col-container .wf_content .wftext {
  margin-top: 0.5vw;
  font-weight: 300;
  font-family: Poppins;
  color: #011e56;
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.why_flayence {
  padding: 4vw;
  text-align: center;
}

.why_flayence h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011e56;
  text-align: center;
  margin-bottom: 2vw;
}

@media only screen and (max-width: 480px) {
  .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-container {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-container .wf_content {
    text-align: center;
  }
  .col-container .wf_content .wfhead {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 4.5vw;
    color: #011e56;
    letter-spacing: 0.05vw;
  }
  .col-container .wf_content .wftext {
    width: 50vw;
    padding: 2vw;
    font-weight: 300;
    font-family: Poppins;
    color: #011e56;
    font-size: 3.3vw;
    line-height: 1.5vw;
    line-height: 20px;
  }
  .why_flayence {
    padding: 4vw;
  }
  .why_flayence h1 {
    margin-top: 4vw;
    font-family: "Open Sans", sans-serif;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #011e56;
  }
  .why_flayence .col-container .wf_img {
    width: 22vw;
    padding: 3vw;
  }
}

.package-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 8vw;
  padding-bottom: 5vw;
}

.package-section .pkg-sec-container .packages {
  height: 28vw;
  width: 18vw;
  padding: 2vw;
  color: #011e56;
  background-color: #f3f8fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
          box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
}

.package-section .pkg-sec-container .packages .pkg-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: #011e56;
  letter-spacing: 0.05vw;
}

.package-section .pkg-sec-container .packages .pkg-contents-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.package-section .pkg-sec-container .packages .pkg-contents-container .pkg-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0.5vw 0;
}

.package-section .pkg-sec-container .packages .pkg-contents-container .pkg-content .tick {
  width: 1.1vw;
}

.package-section .pkg-sec-container .packages .pkg-contents-container .pkg-content div {
  padding-left: 1vw;
  font-weight: 300;
  font-family: Poppins;
  color: #011e56;
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.package-section .pkg-sec-container .packages .max-width-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #011e56;
  color: #011e56;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 1vw;
  width: 100%;
}

.package-section .pkg-sec-container .packages .max-width-btn:hover {
  background-color: #011e56;
  color: #ffffff;
}

.package-section .pkg-sec-container .packages .pkg-ico {
  width: 7vw;
  margin: 1vw;
}

.package-section .pkg-sec-container .packages .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.package-section .pkg-sec-container .packages .price .rs {
  font-size: 0.85vw;
}

.package-section .pkg-sec-container .packages .price .amt {
  margin-left: 1vw;
  font-size: 1.2vw;
}

.package-section .pkg-sec-container .active-pkg {
  background-color: #515e63;
  color: #ffffff;
  height: 30vw;
  -webkit-transform: translateY(-1vw);
          transform: translateY(-1vw);
  -webkit-box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
          box-shadow: 0px 20px 40px rgba(81, 94, 99, 0.3);
}

.package-section .pkg-sec-container .active-pkg .pkg-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: #ffffff;
  letter-spacing: 0.05vw;
}

.package-section .pkg-sec-container .active-pkg .pkg-contents-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.package-section .pkg-sec-container .active-pkg .pkg-contents-container .pkg-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.package-section .pkg-sec-container .active-pkg .pkg-contents-container .pkg-content div {
  padding-left: 1vw;
  font-weight: 300;
  font-family: Poppins;
  color: #ffffff;
  font-size: 0.9vw;
  line-height: 1.5vw;
}

.package-section .pkg-sec-container .active-pkg .max-width-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #ffffff;
  color: #ffffff;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.9vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 1vw;
  width: 100%;
}

.package-section .pkg-sec-container .active-pkg .max-width-btn:hover {
  background-color: #ffffff;
  color: #515e63;
}

.package-section .pkg-sec-container .active-pkg .pkg-ico {
  width: 8vw;
  margin: 1vw;
}

.package-section .pkg-sec-container .active-pkg .price .rs {
  font-size: 0.9vw;
}

.package-section .pkg-sec-container .active-pkg .price .amt {
  font-size: 1.4vw;
}

.package-section .pkg-sec-container .pkg-section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011e56;
}

.package-section .pkg-sec-container .section-description {
  line-height: 2;
  color: #011e56;
  margin-top: 1vw;
  font-size: 0.8vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
}

.package-section .pkg-sec-container .pkg-know-more-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #011e56;
  color: #011e56;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.package-section .pkg-sec-container .pkg-know-more-btn:hover {
  background-color: #011e56;
  color: #ffffff;
}

.about_us {
  background-color: #e6edfa;
  width: 100vw;
}

.about_us .abt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_us .abt-container .ab_img {
  height: 30vw;
  width: 40vw;
}

.about_us .abt-container .right-section {
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_us .abt-container h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011e56;
  margin-bottom: 1vw;
}

.about_us .abt-container .txtab {
  font-weight: 300;
  font-family: Poppins;
  color: #011e56;
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.about_us .abt-container .social-icons-light {
  display: none;
}

.about_us .abt-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_us .abt-container .social-icons img {
  width: 2.5vw;
}

@media only screen and (max-width: 480px) {
  .about_us {
    background-image: url("../../assets/images/img3.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
  }
  .about_us .abt-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  .about_us .abt-container .ab_img {
    display: none;
  }
  .about_us .abt-container .right-section {
    padding: 20vw 12vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about_us .abt-container h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #011e56;
    margin-bottom: 1vw;
    font-size: 6vw;
    color: #ffffff;
  }
  .about_us .abt-container .txtab {
    font-weight: 300;
    font-family: Poppins;
    color: #ffffff;
    font-size: 3.3vw;
    line-height: 1.5vw;
    line-height: 2;
    margin-top: 5vw;
  }
  .about_us .abt-container .social-icons {
    display: none;
  }
  .about_us .abt-container .social-icons-light {
    margin-top: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about_us .abt-container .social-icons-light img {
    width: 10vw;
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
            transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
            transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
            transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
            transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

.section-eight {
  padding: 4vw 0;
  position: relative;
  margin-bottom: 4vw;
  margin-top: 4vw;
}

.section-eight img {
  -o-object-fit: cover;
     object-fit: cover;
}

.section-eight .testimonial-container {
  padding: 0 15vw;
}

.section-eight .testimonial-container .section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2vw;
}

.section-eight .container-pe-quote {
  position: absolute;
  height: 100%;
  top: 0px;
  z-index: 1;
}

.section-eight .container-pe-quote .pp-quote {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 1px;
          transform-origin: 50% 1px;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.section-eight .container-pe-quote .pp-quote:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  border-radius: 100%;
  background-color: #7fb3e4;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.section-eight .container-pe-quote .li-quote-1 {
  height: 8vw;
  width: 8vw;
  left: 2vw;
  top: 3vw;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  opacity: 1;
}

.section-eight .container-pe-quote .li-quote-2 {
  height: 63px;
  width: 63px;
  left: 120px;
  top: 270px;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

.section-eight .container-pe-quote .li-quote-3 {
  height: 5vw;
  width: 5vw;
  left: 5vw;
  top: 20vw;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  opacity: 1;
}

.section-eight .container-pe-quote .li-quote-4 {
  height: 4vw;
  width: 4vw;
  right: -1vw;
  top: 3vw;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  opacity: 1;
}

.section-eight .container-pe-quote .li-quote-5 {
  height: 73px;
  width: 73px;
  right: 28px;
  top: 265px;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 1;
}

.section-eight .container-pe-quote .li-quote-6 {
  height: 45px;
  width: 45px;
  right: 108px;
  top: 170px;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  opacity: 1;
}

.section-eight .container-pe-quote .li-quote-7 {
  height: 7vw;
  width: 7vw;
  right: 4vw;
  top: 18vw;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 1;
}

.section-eight .container-pe-quote .li-quote-8 {
  height: 63px;
  width: 63px;
  left: 20px;
  top: 250px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

.section-eight .container-pe-quote.left {
  left: 0px;
}

.section-eight .container-pe-quote.right {
  right: 0px;
}

.section-eight .container-quote {
  position: relative;
  width: 100%;
  margin-top: 7vw;
  -webkit-perspective: 10000px;
          perspective: 10000px;
}

.section-eight .container-quote .quote {
  max-width: 520px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
  transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
}

.section-eight .container-quote .quote.hide-bottom {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
          transform: translateX(-50%) translateY(100%) rotateX(-70deg);
}

.section-eight .container-quote .quote.hide-top {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
          transform: translateX(-50%) translateY(-100%) rotateX(70deg);
}

.section-eight .container-quote .quote.show {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0%) rotateX(0deg);
          transform: translateX(-50%) translateY(0%) rotateX(0deg);
}

.section-eight .container-dp-name {
  position: relative;
  width: 100%;
  margin-top: 10px;
  height: 12vw;
  -webkit-perspective: 10000px;
          perspective: 10000px;
  text-align: center;
}

.section-eight .container-dp-name .box-dpname {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
  transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
}

.section-eight .container-dp-name .box-dpname.hide-dp-bottom {
  opacity: 0;
  -webkit-transform: translateX(0%) translateY(100%) rotateX(-70deg);
          transform: translateX(0%) translateY(100%) rotateX(-70deg);
}

.section-eight .container-dp-name .box-dpname.hide-dp-top {
  opacity: 0;
  -webkit-transform: translateX(0%) translateY(-100%) rotateX(70deg);
          transform: translateX(0%) translateY(-100%) rotateX(70deg);
}

.section-eight .container-dp-name .box-dpname.look {
  opacity: 1;
  -webkit-transform: translateX(0%) translateY(0%) rotateX(0deg);
          transform: translateX(0%) translateY(0%) rotateX(0deg);
}

.op-eight-section {
  position: relative;
}

.sec-eight-text-area {
  text-align: center;
}

.sec-eight-text-area img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 13vw;
  width: 13vw;
  border-radius: 50%;
  margin-bottom: 1vw;
}

.sec-eight-text-area h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: #011e56;
  letter-spacing: 0.05vw;
}

.sec-eight-text-area h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  color: #011e56;
  letter-spacing: 0.05vw;
  margin-bottom: 1vw;
}

.sec-eight-text-area p {
  font-weight: 300;
  font-family: Poppins;
  color: #011e56;
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.container-pe-quote .pp-quote img {
  overflow: hidden;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.container-pe-quote .pp-quote:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.container-pe-quote .pp-quote.active:after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.video-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vw;
  margin: 10vw 0;
}

.video-section .active-video-container {
  height: 30vw;
  width: 35vw;
}

.video-section .active-video-container .active-video {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 1.5vw 1.5vw rgba(230, 237, 250, 0.8);
          box-shadow: 1.5vw 1.5vw rgba(230, 237, 250, 0.8);
}

.video-section .video-right-section {
  margin-left: 3vw;
  padding: 2vw;
  padding-bottom: 0;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.video-section .video-right-section .section-heading {
  margin-top: 3vw;
}

.video-section .video-right-section .thumbnail-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-section .video-right-section .video-thumbnail {
  height: 15vw;
  width: 18vw;
  -webkit-box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
          box-shadow: 0px 20px 40px rgba(65, 86, 128, 0.2);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
  background-color: #515e63;
}

.footer .footer-block1 .logo {
  width: 8vw;
}

.footer .footer-block1 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 4vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-block1 .social .social-ico {
  width: 1.75vw;
}

.footer .footer-block1 .footer-content {
  width: 13vw;
}

.footer .footer-about .footer-content {
  width: 13vw;
}

.footer .footer-quick .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-quick a {
  color: #ffffff;
}

.footer .footer-contact .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-contact .contact .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1vw;
}

.footer .footer-contact .contact .contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footer-contact .contact .contact-items img {
  width: 1vw;
}

.footer .footer-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  color: #ffffff;
  letter-spacing: 0.05vw;
  margin-bottom: 1vw;
  text-transform: uppercase;
}

.footer .footer-content {
  font-size: 0.6vw;
  width: 10vw;
  color: #ffffff;
  font-weight: 200;
  line-height: 1vw;
}

.reg-section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../assets/images/clouds.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.reg-section .reg-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
  width: 30vw;
  -webkit-box-shadow: 0px 20px 50px 10px rgba(81, 94, 99, 0.25);
          box-shadow: 0px 20px 50px 10px rgba(81, 94, 99, 0.25);
  background-color: white;
  border-radius: 5px;
}

.reg-section .reg-form-container .max-width-btn {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw #011e56;
  color: #011e56;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 1vw;
  width: 100%;
}

.reg-section .reg-form-container .max-width-btn:hover {
  background-color: #011e56;
  color: #ffffff;
}

.reg-section .reg-form-container .test-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-section .reg-form-container .test-link .t-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  color: #AB3B61;
  letter-spacing: 0.05vw;
  text-decoration: underline;
}

.reg-section .reg-form-container .test-link img {
  width: 1vw;
  height: 1vw;
  margin-left: 0.5vw;
}

.reg-section .reg-form-container .input-field-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1vw;
}

.reg-section .reg-form-container .input-field-container .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2vw;
}

.reg-section .reg-form-container .input-field-container .input-field .input-lable {
  font-weight: 300;
  font-family: Poppins;
  color: #011e56;
  font-size: 0.8vw;
  line-height: 1.5vw;
  font-weight: 400;
}

.reg-section .reg-form-container .input-field-container .input-field .input-box {
  background-color: #e6edfa;
  border-radius: 3px;
  border: none;
  padding: 0.7vw;
  font-weight: 300;
  font-family: Poppins;
  color: #011e56;
  font-size: 0.9vw;
  line-height: 1.5vw;
  color: #011e56;
}

select:invalid {
  color: gray !important;
}

@media only screen and (max-width: 480px) {
  .reg-section {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20vw 5vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../../assets/images/Cloud-mob.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }
  .reg-section .reg-form-container {
    width: 85vw;
    padding: 6vw 5vw;
  }
  .reg-section .reg-form-container .section-heading {
    font-family: "Open Sans", sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #011e56;
    font-size: 6vw;
  }
  .reg-section .reg-form-container .max-width-btn {
    padding: 2vw 3vw;
    border: solid 0.5vw #011e56;
    color: #011e56;
    font-weight: 500;
    background-color: transparent;
    border-radius: 2px;
    font-size: 3.3vw;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    margin-top: 0 !important;
  }
  .reg-section .reg-form-container .max-width-btn:hover {
    background-color: #011e56;
    color: #ffffff;
  }
  .reg-section .reg-form-container .test-link .t-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 3.3vw;
    color: #AB3B61;
    letter-spacing: 0.05vw;
  }
  .reg-section .reg-form-container .test-link img {
    width: 2.5vw;
    height: 3.2vw;
    margin-left: 0.5vw;
  }
  .reg-section .reg-form-container .input-field-container {
    margin: 4vw 0;
  }
  .reg-section .reg-form-container .input-field-container .input-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 7vw;
  }
  .reg-section .reg-form-container .input-field-container .input-field .input-lable {
    font-weight: 300;
    font-family: Poppins;
    color: #011e56;
    font-size: 3vw;
    line-height: 1.5vw;
    font-weight: 400;
    padding-bottom: 1vw;
  }
  .reg-section .reg-form-container .input-field-container .input-field .input-box {
    font-weight: 300;
    font-family: Poppins;
    color: #011e56;
    font-size: 3.3vw;
    line-height: 1.5vw;
    padding: 2vw 1vw;
  }
  select:invalid {
    color: gray !important;
  }
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #e6edfa;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #011e56;
  border-radius: 100px;
}

.section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #011e56;
}

@media only screen and (max-width: 480px) {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=style.css.map */