
.about_us{
    background-color: #E6EDFA;
    width: 40vw;
    height: 32.5vw;

}
.row{
    margin: 0;
    
    .ab_img{
        position: absolute;
        width:700px;
        height: 500px;
        left: 0;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }
   .cont{
       padding: 8vw;
       align-content: center
   }
    h1{
        @include section-heading;
        margin-bottom: 1vw;
     
    }
    .txtab{
position: absolute;
width: 879px;
height: 359px;
color: $text-dark;
padding-right: 8vw;
font-family: Poppins;
font-weight: 300px;
font-size: 0.80vw;;
line-height: 25px;
       
    }
   .icons{
       display: flex;
       gap: 0.5vw;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 410px;
   }
}