.hero{
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("/assets/images/flayence.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: contain;
    .hero-background{
        height: 100%;
        width: 70vw;
        background-color: $primary-color;
        z-index: 0;
    }
    .hero-content{
        display: flex;
        width: 100%;
        position: absolute;
        top: 20%;
        .hero-img{
            //width: 35vw;
            height: 30vw;
            border: solid 4px $text-light 
        }
        .logo-large{
            width: 60%;
        }
        .content-text{
            width: 75%;
            line-height: 2;
            color: $text-light;
            margin-top: 1vw;
            font-size: 0.80vw;
            font-weight: 300;
            letter-spacing: 0.05vw;
        }
        .hero-btn{
            @include outline-button($text-light, 0.80vw);
            margin-top: 1vw;
        }
    }
}