.hero {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("../../assets/images/flayence.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: contain;
  .hero-background {
    height: 100%;
    width: 70vw;
    background-color: $primary-color;
    z-index: 0;
  }
  .hero-content {
    display: flex;
    width: 100%;
    position: absolute;
    top: 20%;
    justify-content: center;
    .hero-content-container {
      padding-top: 2vw;
      width: 40vw;
      .logo-large {
        width: 60%;
      }
      .content-text {
        width: 75%;
        line-height: 2;
        color: $text-light;
        margin-top: 1vw;
        font-size: 0.8vw;
        font-weight: 300;
        letter-spacing: 0.05vw;
      }
      .hero-btn {
        @include outline-button($text-light, 0.8vw, $primary-color);
        margin-top: 1vw;
      }
    }
    .hero-img-container {
      width: 35vw;
      .hero-img {
        width: 100%;
        height: 30vw;
        border: 0.5vw solid $text-light;
        border-radius: 3px;
        box-shadow: 0px 20px 40px rgba($color: #415680, $alpha: 0.2);
      }
    }
  }
  .arrow {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .hero {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("../../assets/images/header-img.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    .hero-background {
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(3px);
    }
    .hero-content {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      .hero-content-container {
        display: flex;
        flex-direction: column;
        padding: 0 12vw;
        margin-top: 10vw;
        width: 100%;
        .logo-large {
          width: 90%;
        }
        .content-text {
          width: 100%;
          line-height: 2;
          color: $text-light;
          margin-top: 3vw;
          font-size: 3.3vw;
          font-weight: 300;
          letter-spacing: 0.05vw;
        }
        .hero-btn {
          @include outline-button-mob($text-light, 3.3vw, $primary-color);
          margin-top: 3vw;
        }
      }
      .hero-img-container {
        display: none;
      }
    }
    .down-arrow-container {
      transform: translateY(30vw);
      display: flex;
      width: 100%;
      justify-content: center;

      .arrow {
        
        display: block;
        width: 10vw;
        animation: arrow-movement 2s ease-in-out infinite;
      }
    }

    @keyframes arrow-movement {
      0% {
        opacity: 0;
      }
      70% {
        opacity: 1;
        transform: translateY(10px);
      }
      100% {
        opacity: 0;
      }
    }
  }
}



@media only screen and (min-width: 700px) and (max-width: 1366px){
  .hero {
    
    .hero-content {
      .hero-content-container {
        .content-text {

          font-size: 1vw;
          
        }
        .hero-btn {
          @include outline-button($text-light, 1vw, $primary-color);
          margin-top: 1vw;
        }
      }
      
    }
    
  }
  
}