.nav-bar {
  width: 100%;
  height: 6vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  position: fixed;
  padding: 0 12vw;
  top: 0;
  z-index: 1;
  transition: ease-in-out 0.3s;

  .nav-logo {
    display: none;
    width: 2vw;
  }

  .nav-links {
    width: 45vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
    font-weight: 500;
    align-items: center;
    a {
      color: white;
    }
  }
  .nav-btn {
    @include outline-button($primary-color, 0.9vw, $text-light);
  }

  .burger {
    display: none;

    div {
      width: 25px;
      height: 3px;
      margin: 5px;
      border-radius: 2px;
      background-color: $text-light;
      transition: all ease 0.5s;
    }
  }
}

/*for scroll animation*/
.nav-scroll-active {
  background-color: rgba(81, 94, 99, 0.9);
}
.nav-btn-active {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw $text-light !important;
  color: $text-light !important;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0.9vw;
  transition: 0.3s;
  &:hover{
    background-color: $text-light !important;
    color: $primary-color !important;
  }
}
/*for scroll animation end*/

@media screen and (max-width: 480px) {
  .nav-bar {
    height: 15vw;
    justify-content: space-between;
    overflow-x: hidden;
    position: fixed;
    .nav-logo {
      display: block;
      width: 5vw;
    }
    .burger {
      display: block;
      z-index: 1;
    }

    .nav-links {
      height: 100%;
      width: 100%;
      padding: 30% 0;
      top: 0;
      left: 0;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(3px);
      flex-direction: column;
      transform: translateX(100%);
      transition: ease-in-out 0.5s;
      a {
        color: white !important;
        font-size: 3.3vw;
      }
      .nav-btn {
        @include outline-button($text-light, 3vw, $primary-color);
        padding: 2vw 3vw;
      }
    }
  }

  .nav-active {
    transform: translateX(0%) !important;
  }

  .toggle {
    .line1 {
      transform: rotate(-45deg) translate(-5px, 4px);
    }

    .line2 {
      opacity: 0;
    }

    .line3 {
      transform: rotate(45deg) translate(-7px, -6px);
    }
  }
}
