.nav-bar{
    display:flex;
    width: 100%;
    justify-content: flex-end;
    background-color: transparent;
    padding: 2vw 11vw 0px 0px;
    position: absolute;
    top: 0;
    
    
    ul{
        width: 45vw;
        display: flex;
        justify-content: space-between;
        font-size: 1vw;
        font-weight: 500;
        align-items: center;
        z-index: 2;
    a{
        color: white;
    }    
        
    }
    .nav-btn{
        @include outline-button($primary-color, 1vw);
    }
}