h1 {
  padding: 2vh 0 3vh 0;
  color: #434c57;
  line-height: 1.3;
  font-size: 40px;
  font-family: amaticSC;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.section-eight {
  padding: 40px 0 0px 0;
  margin-top: 130px;
  position: relative;
  .container-pe-quote {
    position: absolute;
    height: 100%;
    top: 0px;
    z-index: 1;
    position: relative;
    height: 500px;
    top: 0px;
    z-index: 1;
    max-width: 300px;
    margin: -70px auto 0;
    &.left {
      left: 0px;
    }
    &.right {
      right: 0px;
    }
    .pp-quote {
      cursor: pointer;
      position: absolute;
      border-radius: 100%;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      animation-name: floating;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: 50% 1px;
      opacity: 0;
      transition: all 2s ease;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: calc(100% + 5px);
        width: calc(100% + 5px);
        border-radius: 100%;
        background-color: #7fb3e4;
        transform: translate(-50%, -50%) scale(0.9);
        transition: all 0.25s ease;
      }
    }
    .li-quote-1 {
      height: 104px;
      width: 104px;
      left: 15px;
      top: 95px;
      animation-duration: 10s;
      transition-delay: 0.6s;
      opacity: 1;
    }
    .li-quote-2 {
      height: 63px;
      width: 63px;
      left: 120px;
      top: 270px;
      animation-duration: 12s;
      transition-delay: 0s;
      opacity: 1;
      left: 60px;
      top: 270px;
    }
    .li-quote-3 {
      height: 64px;
      width: 64px;
      left: 68px;
      top: 380px;
      animation-duration: 6s;
      transition-delay: 0.2s;
      opacity: 1;
      left: 0;
    }
    .li-quote-4 {
      height: 73px;
      width: 73px;
      right: -15px;
      top: 110px;
      animation-duration: 5s;
      transition-delay: 0.7s;
      opacity: 1;
    }
    .li-quote-5 {
      height: 73px;
      width: 73px;
      right: 28px;
      top: 265px;
      animation-duration: 8s;
      transition-delay: 0.4s;
      opacity: 1;
    }
    .li-quote-6 {
      height: 45px;
      width: 45px;
      right: 108px;
      top: 170px;
      animation-duration: 7s;
      transition-delay: 0.2s;
      opacity: 1;
      right: 100px;
      top: 179px;
    }
    .li-quote-7 {
      height: 48px;
      width: 48px;
      right: 40px;
      top: 414px;
      animation-duration: 7s;
      transition-delay: 0.3s;
      opacity: 1;
    }
    .li-quote-8 {
      height: 63px;
      width: 63px;
      left: 20px;
      top: 250px;
      animation-duration: 5s;
      transition-delay: 0s;
      opacity: 1;
      height: 43px;
      width: 43px;
      left: 0px;
      top: 220px;
    }
  }
  .container-quote {
    height: 205px;
    overflow: hidden;
    overflow-y: auto;
    .quote {
      max-width: 520px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 50%;
      cursor: pointer;
      text-align: center;
      transform: translateX(-50%);
      transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
      &.hide-bottom {
        opacity: 0;
        transform: translateX(-50%) translateY(100%) rotateX(-70deg);
      }
      &.hide-top {
        opacity: 0;
        transform: translateX(-50%) translateY(-100%) rotateX(70deg);
      }
      &.show {
        opacity: 1;
        transform: translateX(-50%) translateY(0%) rotateX(0deg);
      }
    }
  }
  .container-dp-name {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 225px;
    perspective: 10000px;
    text-align: center;
    .box-dpname {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      cursor: pointer;
      text-align: center;
      transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
      &.hide-dp-bottom {
        opacity: 0;
        transform: translateX(0%) translateY(100%) rotateX(-70deg);
      }
      &.hide-dp-top {
        opacity: 0;
        transform: translateX(0%) translateY(-100%) rotateX(70deg);
      }
      &.look {
        opacity: 1;
        transform: translateX(0%) translateY(0%) rotateX(0deg);
      }
    }
  }
  .bottom-ani-cs {
    position: absolute;
    top: 150px;
    right: 16px;
  }
}
.op-eight-section {
  position: relative;
}
.sec-eight-text-area {
  text-align: center;
  padding: 100px 0 240px;
  padding: 10px 0 100px 0;
  img {
    padding: 2vh 0;
  }
  h1 {
    @include content-heading($text-dark, 1.5vw);
  }
  p {
    padding: 2vh 0;
    font-size: 14px;
    line-height: 1.6;
    color: #434c57;
    font-family: mavenpro;
  }
}
.container-pe-quote {
  .pp-quote {
    img {
      overflow: hidden;
      border-radius: 100%;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
}
.container-pe-quote .pp-quote:hover:after,
.container-pe-quote .pp-quote.active:after {
  transform: translate(-50%, -50%) scale(1);
}
@keyframes floating {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

.section-eight {
  .container-quote {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 135px;
    perspective: 10000px;
  }
}



