.package-section{

  
  padding-top: 8vw;
  padding-bottom: 5vw;

  .pkg-sec-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    .package-section-container{
      display: flex;
      width: 40vw;
      justify-content:space-between;
    .packages {
      height: 28vw;
      width: 18vw;
      padding: 2vw;
      color: $text-dark;
      background-color: $secondary-light;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0px 20px 40px rgba($color: #415680, $alpha: 0.2);
      .pkg-heading {
        @include content-heading($text-dark, 1.2vw);
      }
      .pkg-contents-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .pkg-content{
          width: 80%;
          display: flex;
          justify-content: start;
          margin: 0.5vw 0;
          .tick{
            width: 1.1vw;
          }
          div{
            padding-left: 1vw;
            @include content-text($text-dark, 0.8vw);
          }
        }
        
      }
      .max-width-btn {
        @include outline-button($text-dark, 0.8vw, $text-light);
        margin-top: 1vw;
        width: 100%;
      }
      .pkg-ico {
        width: 7vw;
        margin: 1vw;
      }
      .price {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        .rs {
          font-size: 0.85vw;
        }
        .amt {
          margin-left: 1vw;
          font-size: 1.2vw;
        }
      }
      
    }
    .active-pkg {
      background-color: $primary-color;
      color: $text-light;
      height: 30vw;
      transform: translateY(-1vw);
      box-shadow: 0px 20px 40px rgba($color: #515e63, $alpha: 0.3);
      .pkg-heading {
        @include content-heading($text-light, 1.5vw);
      }
      .pkg-contents-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .pkg-content{
          width: 80%;
          display: flex;
          justify-content: start;
          div{
            padding-left: 1vw;
            @include content-text($text-light, 0.9vw);
          }
        }
        
      }
      .max-width-btn {
        @include outline-button($text-light, 0.9vw, $primary-color);
        margin-top: 1vw;
        width: 100%;
      }
      .pkg-ico {
        width: 8vw;
        margin: 1vw;
      }
      .price {
        .rs {
          font-size: 0.9vw;
        }
        .amt {
          font-size: 1.4vw;
        }
      }
    }
  }

.pkg-sec-content-container{
  width: 20vw;
  margin: 4vw;
  .pkg-section-heading {
    @include section-heading();
  }
  .section-description {
    line-height: 2;
    color: $text-dark;
    margin-top: 1vw;
    font-size: 0.8vw;
    font-weight: 300;
    letter-spacing: 0.05vw;
  }
  .pkg-know-more-btn{
      @include outline-button($text-dark, 0.8vw, $text-light);
  }

}
}    
    


}


@media only screen and (max-width: 480px) {
  .package-section{
    display: flex;
    justify-content:space-around;
    padding-top: 8vw;
    padding-bottom: 5vw;
  
  }
}



