.package-section {
  padding-top: 8vw;
  padding-bottom: 5vw;

  .pkg-sec-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    .package-section-container {
      display: flex;
      width: 40vw;
      justify-content: space-between;
      .packages {
        height: 28vw;
        width: 18vw;
        padding: 2vw;
        color: $text-dark;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 20px 40px rgba($color: #415680, $alpha: 0.2);
        transition: 0.3s;
        .pkg-heading {
          @include content-heading($text-dark, 1.2vw);
        }
        .pkg-contents-container {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          .pkg-content {
            width: 80%;
            display: flex;
            justify-content: start;
            margin: 0.5vw 0;
            .tick {
              width: 1.1vw;
            }
            div {
              padding-left: 1vw;
              @include content-text($text-dark, 0.8vw);
            }
          }
        }
        .max-width-btn {
          @include outline-button($text-dark, 0.8vw, $text-light);
          margin-top: 1vw;
          width: 100%;
          text-align: center;
          text-decoration: none;
        }
        .pkg-ico {
          width: 7vw;
          margin: 1vw;
        }
        .price {
          display: flex;
          width: 80%;
          justify-content: center;
          align-items: center;
          .rs {
            font-size: 0.85vw;
          }
          .amt {
            margin-left: 1vw;
            font-size: 1.2vw;
          }
        }
      }
      .active-pkg {
        background-color: $primary-color;
        color: $text-light;
        height: 30vw;
        transform: translateY(-1vw);
        box-shadow: 0px 20px 40px rgba($color: #515e63, $alpha: 0.3);
        .pkg-heading {
          @include content-heading($text-light, 1.5vw);
        }
        .pkg-contents-container {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          .pkg-content {
            width: 80%;
            display: flex;
            justify-content: start;
            div {
              padding-left: 1vw;
              @include content-text($text-light, 0.9vw);
            }
          }
        }
        .max-width-btn {
          @include outline-button($text-light, 0.9vw, $primary-color);
          margin-top: 1vw;
          width: 100%;
        }
        .pkg-ico {
          width: 8vw;
          margin: 1vw;
        }
        .price {
          .rs {
            font-size: 0.9vw;
          }
          .amt {
            font-size: 1.4vw;
          }
        }
      }
    }

    .pkg-sec-content-container {
      width: 20vw;
      margin: 4vw;
      .pkg-section-heading {
        @include section-heading();
      }
      .section-description {
        line-height: 2;
        color: $text-dark;
        margin-top: 1vw;
        font-size: 0.8vw;
        font-weight: 300;
        letter-spacing: 0.05vw;
      }
      .pkg-know-more-btn {
        @include outline-button($text-dark, 0.8vw, $text-light);
      }
    }
  }
}

.pkg-ex {
  transform: translateX(20%) !important;
}

@media only screen and (max-width: 480px) {
  .package-section {
    padding: 20vw 0;

    .pkg-sec-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      .package-section-container {
        display: flex;
        width: 120vw;
        height: 100vw;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
        margin-top: 2vw;
        transform: translateX(-27%);
        transition: 0.5s;
        .packages {
          height: 80vw;
          width: 55vw;
          padding: 4vw;
          color: $text-dark;
          background-color: $secondary-color;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          box-shadow: 10px 20px 40px rgba($color: #415680, $alpha: 0);
          .pkg-heading {
            @include content-heading($text-dark, 4.2vw);
          }
          .pkg-contents-container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .pkg-content {
              width: 80%;
              display: flex;
              justify-content: start;
              align-items: center;
              height: 6vw;
              .tick {
                width: 3vw;
              }
              div {
                padding-left: 1vw;
                @include content-text($text-dark, 3vw);
              }
            }
          }
          .max-width-btn {
            @include outline-button-mob($text-dark, 3vw, $text-light);
            margin-top: 1vw;
            width: 100%;
          }
          .pkg-ico {
            width: 20vw;
            margin: 1vw;
          }
          .price {
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: center;
            .rs {
              font-size: 2vw;
            }
            .amt {
              margin-left: 1vw;
              font-size: 3.8vw;
            }
          }
        }
        .active-pkg {
          margin-left: 5vw;
          margin-right: 5vw;
          background-color: $primary-color;
          color: $text-light;
          height: 90vw;
          width: 60vw;
          padding: 4vw 6vw;
          box-shadow: 10px 20px 40px rgba($color: #515e63, $alpha: 0);
          .pkg-heading {
            @include content-heading($text-light, 4.5vw);
          }
          .pkg-contents-container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .pkg-content {
              width: 80%;
              display: flex;
              justify-content: start;
              align-items: center;
              height: 6vw;
              .tick {
                width: 3vw;
              }
              div {
                padding-left: 1vw;
                @include content-text($text-light, 3.3vw);
              }
            }
          }
          .max-width-btn {
            @include outline-button-mob($text-light, 3.3vw, $primary-color);
            margin-top: 1vw;
            width: 100%;
          }
          .pkg-ico {
            width: 20vw;
            margin: 2vw;
          }
          .price {
            .rs {
              font-size: 2vw;
            }
            .amt {
              font-size: 4.2vw;
            }
          }
        }
      }

      .pkg-sec-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 4vw;
        transform: translateX(-5vw);
        .pkg-section-heading {
          @include section-heading();
          font-size: 6vw;
        }
        .section-description {
          line-height: 2;
          color: $text-dark;
          margin-top: 1vw;
          font-size: 3.3vw;
          font-weight: 300;
          letter-spacing: 0.05vw;
          text-align: center;
        }
        .pkg-know-more-btn {
          @include outline-button-mob($text-dark, 3.3vw, $text-light);
        }
      }
    }
  }


}

@media only screen and (min-width: 700px) and (max-width: 1366px) {

  .package-section {
  
  
    .pkg-sec-container {
      
      .package-section-container {
        
        width: 50vw;
        
        .packages {
          height: 30vw;
          width: 20vw;
          
          .pkg-heading {
            @include content-heading($text-dark, 1.4vw);
          }
          .pkg-contents-container {
            
            .pkg-content {
              
              .tick {
                width: 1.1vw;
              }
              div {
                padding-left: 1vw;
                @include content-text($text-dark, 1vw);
              }
            }
          }
          .max-width-btn {
            @include outline-button($text-dark, 1vw, $text-light);
            
          }
          
          .price {
            
            .rs {
              font-size: 0.85vw;
            }
            .amt {
              margin-left: 1vw;
              font-size: 1.4vw;
            }
          }
        }
        .active-pkg {
          
          height: 32vw;
          width: 22vw;
          
          .pkg-heading {
            @include content-heading($text-light, 1.6vw);
          }
          .pkg-contents-container {
            
            .pkg-content {
              
              div {
                padding-left: 1vw;
                @include content-text($text-light, 1.1vw);
              }
            }
          }
          .max-width-btn {
            @include outline-button($text-light, 1.1vw, $primary-color);
            
          }
          
          .price {
            .rs {
              font-size: 0.9vw;
            }
            .amt {
              font-size: 1.6vw;
            }
          }
        }
      }
  
      .pkg-sec-content-container {
       
        .pkg-section-heading {
          @include section-heading();
        }
        .section-description {
          line-height: 2;
          color: $text-dark;
          margin-top: 1vw;
          font-size: 1vw;
          font-weight: 300;
          letter-spacing: 0.05vw;
        }
        .pkg-know-more-btn {
          @include outline-button($text-dark, 1vw, $text-light);
        }
      }
    }
  }

}

//package page
.pkg-pg-container {
  margin: 8vw 8vw;
  .pkg-section-heading {
    @include section-heading();
  }
  .section-description {
    line-height: 2;
    color: $text-dark;
    margin-top: 1vw;
    font-size: 0.8vw;
    font-weight: 300;
    letter-spacing: 0.05vw;
  }

  .pkg-box-container {
    padding-top: 4vw;
    .packages {
      
      width: 80%;
      padding: 2vw;
      color: $text-dark;
      background-color: $secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0px 20px 40px rgba($color: #415680, $alpha: 0.2);
      transition: 0.3s;
      margin-right:4vw;
      .pkg-heading {
        @include content-heading($text-dark, 1.2vw);
      }
      .pkg-contents-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1vw;
        padding: 0 1vw;
        .pkg-content {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: start;
          margin: 0.5vw 0;
          .tick {
            width: 1.1vw;
            margin-left: 1.5vw;
          }
          div {
            
            @include content-text($text-dark, 0.8vw);
            display: flex;
            width: 100%;
            justify-content: space-between;
          }
        }
      }
      .max-width-btn {
        @include outline-button($text-dark, 0.8vw, $text-light);
        margin-top: 1vw;
        width: 100%;
        text-align: center;
        text-decoration: none;
      }
      .pkg-ico {
        width: 7vw;
        margin: 1vw;
      }
      .price {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        .rs {
          font-size: 0.85vw;
        }
        .amt {
          margin-left: 1vw;
          font-size: 1.2vw;
        }
      }
    }
    .active-pkg {
      background-color: $primary-color;
      color: $text-light;
      width: 90%;
      transform: translateY(-2vw);
      box-shadow: 0px 20px 40px rgba($color: #515e63, $alpha: 0.3);
      .pkg-heading {
        @include content-heading($text-light, 1.5vw);
      }
      .pkg-contents-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 1vw;
        .pkg-content {
          width: 100%;
          display: flex;
          justify-content: start;
          div {
            
            @include content-text($text-light, 0.9vw);
          }
        }
      }
      .max-width-btn {
        @include outline-button($text-light, 0.9vw, $primary-color);
        margin-top: 1vw;
        width: 100%;
      }
      .pkg-ico {
        width: 8vw;
        margin: 1vw;
      }
      .price {
        .rs {
          font-size: 0.9vw;
        }
        .amt {
          font-size: 1.4vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {

  //package page
  .pkg-pg-container {
    margin: 20vw 8vw;
    .pkg-section-heading {
      @include section-heading();
      font-size: 6vw;
    }
    .section-description {
      line-height: 2;
      color: $text-dark;
      margin-top: 1vw;
      font-size: 3.3vw;
      font-weight: 300;
      letter-spacing: 0.05vw;
      text-align: left;
      padding: 5vw 10vw;
    }
  
    .pkg-box-container {
      padding: 5vw 10vw;
      .packages {
        
        width: 100%;
        padding: 5vw;
        color: $text-dark;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 20px 40px rgba($color: #415680, $alpha: 0.2);
        transition: 0.3s;
        margin-right:4vw;
        .pkg-heading {
          @include content-heading($text-dark, 4.5vw);
        }
        .pkg-contents-container {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-top: 5vw;
          .pkg-content {
            width: 90%;
            display: flex;
            justify-content: start;
            align-items: center;
            height: 8vw;
            margin: 2vw 0;
            .tick {
              width: 3vw;
            }
            div {
              
              @include content-text($text-dark, 3.3vw);
              height: 100%;
              line-height: 1.5;
            }
          }
        }
        .max-width-btn {
          @include outline-button-mob($text-dark, 3.3vw, $text-light);
          margin-top: 5vw;
          width: 100%;
        }
        .pkg-ico {
          width: 20vw;
          margin: 4vw;
        }
        .price {
          .rs {
            font-size: 2vw;
          }
          .amt {
            font-size: 4.2vw;
          }
        }
      }
      .active-pkg {
        background-color: $primary-color;
        color: $text-light;
        margin-top: 20vw;
        box-shadow: 0px 20px 40px rgba($color: #515e63, $alpha: 0.3);
        .pkg-heading {
          @include content-heading($text-light, 4.5vw);
        }
        .pkg-contents-container {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          .pkg-content {
            width: 90%;
            display: flex;
            justify-content: start;
            align-items: center;
            height: 8vw;
            margin: 2vw 0;
            .tick {
              width: 3vw;
            }
            div {
              
              @include content-text($text-light, 3.3vw);
              height: 100%;
              line-height: 1.5;
              
            }
          }
        }
        .max-width-btn {
          @include outline-button-mob($text-light, 3.3vw, $primary-color);
          margin-top: 5vw;
          width: 100%;
        }
        .pkg-ico {
          width: 20vw;
          margin: 4vw;
        }
        .price {
          .rs {
            font-size: 2vw;
          }
          .amt {
            font-size: 4.2vw;
          }
        }
      }
    }
  }

  
}


@media only screen and (min-width: 700px) and (max-width: 1366px) {
  //package page
.pkg-pg-container {
  padding: 0 10vw !important;
  .pkg-section-heading {
    @include section-heading();
  }
  .section-description {
    
    font-size: 1vw !important;
    font-weight: 300;
    
  }

  .pkg-box-container {
   
    .packages {
      
      
      .pkg-heading {
        @include content-heading($text-dark, 1.4vw);
      }
      .pkg-contents-container {
        
        .pkg-content {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: start;
          
          .tick {
            margin-left: 1.5vw;
            width: 1.1vw;
          }
          div {
            padding-left: 1vw;
            @include content-text($text-dark, 1vw);
            display: flex;
            width: 100%;
            justify-content: space-between
          }
        }
      }
      .max-width-btn {
        @include outline-button($text-dark, 1vw, $text-light);
        margin-top: 1vw;
        width: 100%;
        text-align: center;
        text-decoration: none;
      }
      .pkg-ico {
        width: 7vw;
        margin: 1vw;
      }
      .price {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        .rs {
          font-size: 0.85vw;
        }
        .amt {
          margin-left: 1vw;
          font-size: 1.4vw;
        }
      }
    }
    .active-pkg {
     
      width: 90%;
      
      .pkg-heading {
        @include content-heading($text-light, 1.6vw);
      }
      .pkg-contents-container {
        
        .pkg-content {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: start;
          margin: 0.75vw 0;
          
          .tick {
            margin-left: 1.5vw;
            width: 1.1vw;
          }
          div {
            padding-left: 1vw;
            @include content-text($text-light, 1.1vw);
            display: flex;
            width: 100%;
            justify-content: space-between
          }
        }
      }
      .max-width-btn {
        @include outline-button($text-light, 1.1vw, $primary-color);
        margin-top: 1vw;
        width: 100%;
      }
      .pkg-ico {
        width: 8vw;
        margin: 1vw;
      }
      .price {
        .rs {
          font-size: 1vw;
        }
        .amt {
          font-size: 1.6vw;
        }
      }
    }
  }
}

}


.bg-particle{
  width: 100%;
  height: 100%;
  margin: 14vw 0;
  position: absolute;
}
@media only screen and (max-width: 480px) {
  .bg-particle{
    width: 100%;
    height: 100vw;
    transform: translateY(80%);
    position: fixed;
    z-index: -1;
  }
}
