.reg-section {
  width: 100vw;
  display: flex;
  padding: 5vw;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/clouds.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  .reg-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    width: 30vw;
    box-shadow: 0px 20px 50px 10px rgba($color: $primary-color, $alpha: 0.25);
    background-color: white;
    border-radius: 5px;

    .max-width-btn {
      @include outline-button($text-dark, 0.80vw, $text-light);
      margin-top: 1vw;
      width: 100%;
    }
    
    .test-link {
        display: flex;
        justify-content: center;
        align-items: center;
        .t-link{
            @include content-heading(#AB3B61, 1vw);
        }
        img{
            width: 1vw;
            height: 1vw;
            margin-left: 0.5vw;
        }
    }
    .input-field-container {
      
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 1vw;

      .input-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vw;
        .input-lable{
            @include content-text($text-dark, 0.8vw);
            font-weight: 400;
        }
        .input-box{
            background-color: $secondary-color;
            border-radius: 3px;
            border: none;
            padding: 0.7vw;
            @include content-text($text-dark, 0.9vw);
            color: $text-dark;
        }
      }
    }
  }
}
select:invalid { 
    color: gray !important; 
}

@media only screen and (max-width: 480px) {
  .reg-section {
    width: 100vw;
    display: flex;
    padding: 20vw 5vw;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/Cloud-mob.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    .reg-form-container {
      width: 80vw;
      padding: 6vw 5vw;
      
      .section-heading{
        font-size: 5vw;
      }
      
      .max-width-btn {
        @include outline-button-mob($text-dark, 3vw, $text-light);
        width: 100%;
      }
      
      .test-link {
        
          .t-link{
              @include content-heading(#AB3B61, 3vw);
              text-decoration: underline;
          }
          img{
              width: 2.5vw;
              height: 3.2vw;
              margin-left: 0.5vw;
          }
      }
      .input-field-container {
        margin: 4vw 0;
  
        .input-field {
          display: flex;
          flex-direction: column;
          margin-bottom: 5vw;
          .input-lable{
              @include content-text($text-dark, 2.8vw);
              font-weight: 400;
          
          }
          .input-box{
              @include content-text($text-dark, 3vw);
              padding: 2vw 1vw;
          }
        }
      }
      .max-width-btn{
          
      }
    }
  }
  select:invalid { 
      color: gray !important; 
  }
}