.reg-section {
  width: 100vw;
  display: flex;
  padding: 5vw;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/clouds.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  .reg-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    width: 30vw;
    box-shadow: 0px 20px 50px 10px rgba($color: $primary-color, $alpha: 0.25);
    background-color: white;
    border-radius: 5px;
    
    .test-link {
        display: flex;
        justify-content: center;
        align-items: center;
        .t-link{
            @include content-heading(#AB3B61, 1vw);
        }
        img{
            width: 1vw;
            height: 1vw;
            margin-left: 0.5vw;
        }
    }
    .input-field-container {
      
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 1vw;

      .input-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vw;
        .input-lable{
            @include content-text($text-dark, 0.8vw);
            font-weight: 400;
        }
        .input-box{
            background-color: $secondary-color;
            border-radius: 3px;
            border: none;
            padding: 0.7vw;
            color: $text-dark;
        }
      }
    }
    .max-width-btn{
        margin: 0;
        margin-top: 1vw;
    }
  }
}
select:invalid { 
    color: gray !important; 
}