.video-section{
    display: flex;
    justify-content: center;
    padding:4vw;
    margin: 10vw 0;
    .active-video-container{
        height: 30vw;
        width: 35vw;
        .active-video{
            height: 100%;
            width: 100%;
            box-shadow: 1.5vw 1.5vw rgba($color: $secondary-color, $alpha: 0.8);
        }
    }
    
    .video-right-section{
        margin-left: 3vw;
        padding: 2vw;
        padding-bottom: 0;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .section-heading{
            margin-top: 3vw;
        }
        .thumbnail-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .video-thumbnail{
            height: 15vw;
            width: 18vw;
            box-shadow: 0px 20px 40px rgba($color: #415680, $alpha: 0.2);
            
        }
    }
    
    
}