.video-section{
        display: flex;
        justify-content: center;
        margin: 15vw 0;
        flex-direction: column;
        align-items: center;
        .video-section-heading{
            @include section-heading;
        text-align: center;
        }

.video-section-container {
    position: relative;
    margin: 0 auto;
    top: 5vw;
    left: 0px;
    width: 980px;
    height: 480px;
    overflow: hidden;
    visibility: hidden;
  }
  .active-video {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 380px;
    overflow: hidden;
  }

/*jssor slider loading skin spin css*/

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes jssorl-009-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  /*jssor slider arrow skin 106 css*/
  
  .jssora106 {
    display: block;
    position: absolute;
    cursor: pointer;
  
    .c {
      fill: #fff;
      opacity: 0.3;
    }
  
    .a {
      fill: none;
      stroke: #000;
      stroke-width: 350;
      stroke-miterlimit: 10;
    }
  
    &:hover {
      .c {
        opacity: 0.5;
      }
  
      .a {
        opacity: 0.8;
      }
    }
  
    &.jssora106dn {
      .c {
        opacity: 0.2;
      }
  
      .a {
        opacity: 1;
      }
    }
  
    &.jssora106ds {
      opacity: 0.3;
      pointer-events: none;
    }
  }
  
  /*jssor slider thumbnail skin 101 css*/
  
  .jssort101 {
    .p {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      background: #000;
  
      .cv {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #000;
        box-sizing: border-box;
        z-index: 1;
      }
    }
  
    .a {
      fill: none;
      stroke: #fff;
      stroke-width: 400;
      stroke-miterlimit: 10;
      visibility: hidden;
    }
  
    .p {
      &:hover .cv, &.pdn .cv {
        border: none;
        border-color: transparent;
      }
  
      &:hover {
        padding: 2px;
  
        .cv {
          background-color: rgba(0, 0, 0, 6);
          opacity: 0.35;
        }
  
        &.pdn {
          padding: 0;
  
          .cv {
            border: 2px solid #fff;
            background: none;
            opacity: 0.35;
          }
        }
      }
    }
  
    .pav {
      .cv {
        border-color: #fff;
        opacity: 0.35;
      }
  
      .a {
        visibility: visible;
      }
    }
  
    .p:hover .a {
      visibility: visible;
    }
  
    .t {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      opacity: 0.6;
    }
  
    .pav .t, .p:hover .t {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 480px) {
    .video-section-heading{
        margin-top: 4vw;
        font-family: "Open Sans", sans-serif;
        font-size: 6vw !important;
        text-transform: uppercase;
        font-weight: 700;
        color: $text-dark;
    }
}