
.col-container{
    display: flex;
    align-items: flex-start;

    .wf_img{
        width: 5vw;
    }
    
    .wf_content{
        margin: 0.20vw 1.5vw;
        .wfhead{
            @include content-heading($text-dark, 1.2vw);

        }
        .wftext{
            margin-top: 0.5vw;
            @include content-text($text-dark, 0.80vw);
        }
    }
}

.why_flayence {
    padding: 4vw;
    h1{
        @include section-heading;
        text-align: center;
        margin-bottom: 2vw;
    }
    
}