.row-container{
    padding: 2vw;

}
.col-container{
    display: flex;
    align-items: flex-start;

    .wf_img{
        width: 5vw;
    }
    
    .wf_content{
        margin: 0.20vw 1.5vw;
        text-align: left;
        .wfhead{
            @include content-heading($text-dark, 1.2vw);

        }
        .wftext{
            margin-top: 0.5vw;
            @include content-text($text-dark, 0.80vw);
        }
    }
}

.why_flayence {
    padding: 4vw;
    text-align: center;
    h1{
        @include section-heading;
        text-align: center;
        margin-bottom: 2vw;
    }
    
}
@media only screen and (max-width: 480px) {
    .row{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .col-container{
        width: 100%;
        align-items: center;
        padding: 2vw;
        display: flex;
        flex-direction: column;
    
        
    
    
    .wf_content{
        text-align: center;
        .wfhead{
            @include content-heading($text-dark, 4.5vw);

        }
        .wftext{
            width: 50vw;
            padding: 2vw;
            @include content-text($text-dark, 3.3vw);
            line-height: 20px;
            
         
        }
    }
}


.why_flayence {
    padding: 15vw 0;
    
    h1{
        margin-top: 4vw;
        font-family: "Open Sans", sans-serif;
        font-size: 6vw;
        text-transform: uppercase;
        font-weight: 700;
        color: $text-dark;
    }
    .col-container .wf_img {
        width: 22vw;
        padding: 3vw;
    }
}
}


@media only screen and (min-width: 700px) and (max-width: 1366px) {

    .col-container{

    
        .wf_img{
            width: 6vw;
        }
        
        .wf_content{
            margin: 0.20vw 1.5vw;
            text-align: left;
            .wfhead{
                @include content-heading($text-dark, 1.5vw);
    
            }
            .wftext{
                margin-top: 0.5vw;
                @include content-text($text-dark, 1vw);
            }
        }
    }
    

}