
.col-container{
    display: flex;
    align-items: flex-start;
    
    .wf_content{
        margin: 0.20vw 1.5vw;
        .wfhead{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1.2vw;
            color:$text-dark;
            letter-spacing: 0.05vw;
        }
        .wftext{
            margin-top: 0.5vw;
            font-weight: 300;
            color: $text-dark;
            font-size: 0.80vw;
        }
    }
}

.why_flayence {
    padding: 2vw;
    h1{
        @include section-heading;
        text-align: center;
        margin-bottom: 2vw;
    }
    
}