$primary-color : #515E63;
$secondary-color: #E6EDFA;
$secondary-light: #F3F8FC;
$text-dark: #011E56;
$text-light: #FFFFFF;

@mixin outline-button($btn-color, $font-size) {
    padding: 0.75vw 1.75vw;
    border: solid 0.20vw $btn-color;
    color: $btn-color;
    font-weight: 500;
    background-color: transparent;
    border-radius: 3px;
    font-size: $font-size;
}

@mixin section-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 700;
    color: $text-dark;
}
@mixin content-heading($font-color, $font-size) {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
     font-weight: 600;
    font-size: $font-size;
    color:$font-color;
    letter-spacing: 0.05vw;
}
@mixin content-text($font-color, $font-size) {
    font-weight: 300;
    color: $font-color;
    font-size: $font-size;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import "./nav-bar";
@import "./hero-section";
@import "./why-flayence";
@import "./packages";

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    overflow-x: hidden;
}


