/*Variables*/

$primary-color: #515e63;
$secondary-color: #e6edfa;
$secondary-light: #f3f8fc;
$text-dark: #011e56;
$text-light: #ffffff;

/*mixins*/

@mixin outline-button($btn-color, $font-size, $font-color) {
  padding: 0.75vw 1.75vw;
  border: solid 0.2vw $btn-color;
  color: $btn-color;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  font-size: $font-size;
  transition: 0.3s;
  &:hover{
    background-color: $btn-color;
    color: $font-color;
  }
}
@mixin outline-button-mob($btn-color, $font-size, $font-color) {
  padding: 2vw 3vw;
  border: solid 0.5vw $btn-color;
  color: $btn-color;
  font-weight: 500;
  background-color: transparent;
  border-radius: 2px;
  font-size: $font-size;
  transition: 0.3s;
  &:hover{
    background-color: $btn-color;
    color: $font-color;
  }
}

@mixin section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: $text-dark;
}
@mixin content-heading($font-color, $font-size) {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: $font-size;
  color: $font-color;
  letter-spacing: 0.05vw;
}
@mixin content-text($font-color, $font-size) {
  font-weight: 300;
  font-family: Poppins;
  color: $font-color;
  font-size: $font-size;
  line-height: 1.5vw;
}

/*Fonts imports*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*SCSS imports*/

@import "./nav-bar";
@import "./hero-section";
@import "./why-flayence";
@import "./packages";
@import "./about-us";
@import "./new-testimonial";
@import "./video-section";
@import "./footer";
@import "./registration-section";

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: $secondary-color;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $text-dark;
    border-radius: 100px;
  }
}


.section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  color: $text-dark;
}

.top-arrow{
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: $primary-color;
  background-image: url("../../assets/images/UpArrow.svg");
  background-position: center;
  background-size: contain;
  display: none;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  transition: 0.3s;
  z-index: 3;
}


@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 52, 155);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 52, 155);
  }
}

.svg-elem-1 {
          animation: animate-svg-fill-1;
          animation-delay: 0.5s;
          animation-duration: 4s;
          animation-iteration-count: infinite;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 204, 1);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 204, 1);
  }
}

.svg-elem-2 {
          animation: animate-svg-fill-2;
          animation-delay: 1.3s;
            animation-duration: 4s;
          animation-iteration-count: infinite;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 204, 1);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 204, 1);
  }
}

.svg-elem-3 {
          animation: animate-svg-fill-3;
          animation-delay: 2.6s;
            animation-duration: 4s;
          animation-iteration-count: infinite;
}

.loading-container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}



@media only screen and (max-width: 480px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .top-arrow{
    width: 10vw;
    height: 10vw;
    bottom: 5vw;
  right: 5vw;
  }
}